{% extends 'base.html' %}

    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}



{% block content %}
    <p class="h1">Про нас</p>

    <p>Однією з найбільших переваг замовлення піци в Domino's Pizza Одеса є можливість насолоджуватися своєю улюбленою піцою в будь-якому зручному для тебе місці. Замов піцу безпосередньо додому або в офіс, заощадь свій час і зосередься на важливих справах.
        Доставка піци всього за 30 хвилин.

У Domino's Pizza Одеса всі інгредієнти використовуються високої якості.
        Domino's Pizza Одеса має зручний і простий процес замовлення та оплати - тож ти отримаєш свою улюблену піцу без зайвих турбот.</p>

{% endblock %}