{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block content %}

<form method="post" action="">


    <div class="mb-3">
      <label for="login" class="form-label">Логін</label>
      <input type="email"  class="form-control" id="login" required placeholder="name@example.com">
    </div>

        <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password"  class="form-control" id="password" required minlength="{{ min_password_length }}">
    </div>


    <button class="btn btn-outline-success" type="submit">Зареєструватися</button>


</form>




{% endblock %}